<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>

    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
       
    <header>
        
        <div class="top-box">

            <img src="/images/logo-mercado-liebre.svg">
                    
            <div  class="search-bar">

                <form  action="/search" method="get" target="_blank">

                    <p>
                        <input type="search" name="busquedam" placeholder="Buscar productos, marcas">
                        <button> <i class="fas fa-search"></i></button>
                    </p>

                </form>

            </div>

            <h1 class="cuotas">
                <a href="#"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</a>
            </h1>
        
        </div>

        <nav class="options-user">

                <ul class="options">

                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>

                </ul>

                <ul class="user">

                        <li><a href="/register"></i>Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                        <li><a href="/login"></i>Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#"></i>Mis compras<i class="fas fa-shopping-basket"></i></a></li>

                </ul>

        </nav>

        <nav class="burger-menu"><i class="fas fa-bars"></i></nav>

    </header>
    
    <nav class="home-banner"><img src="/images/img-home-banner.jpg"></nav>

    <main class="box-first">

        <section>

            <h2>Basado en tu última visita</h2>

            <div class="boxes-article">

                <article class="box">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img cafetera moulinex">
                    <div class="small-box">
                        <i class="fas fa-truck circle rotate"></i>
                        <div class="box-display">
                            <div class="description">
                                <p class="a">$6.770</p>
                                <p class="b">40% off</p>
                            </div>
                            <h4>Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article>

                <article class="box">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img macbook pro">
                    <div class="small-box">
                        <i class="fas fa-truck circle rotate"></i>
                        <div class="box-display">
                            <div class="description">
                                <p class="a">$230.000</p>
                                <p class="b">20% off</p>
                            </div>
                            <h4>MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>

                <article class="box">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img samsung">
                    <div class="small-box">
                        <i class="fas fa-truck circle rotate"></i>
                        <div class="box-display">
                            <div class="description">
                                <p class="a">$70.500</p>
                                <p class="b">10% off</p>
                            </div>
                            <h4>Samsung Galaxy S10</h4>
                        </div>
                    </div>  
                </article>

                <article class="box">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img smart tv">
                    <div class="small-box">
                        <i class="fas fa-truck circle rotate"></i>
                        <div class="box-display">
                            <div class="description">
                                <p class="a">$23.200</p>
                                <p class="b">5% off</p>
                            </div>
                            <h4>SmartTv Samsung 43"</h4>
                        </div>
                    </div>
                </article> 

            </div> 

        </section>

        <section>

            <h2>Sección de ofertas</h2>

            <div class="boxes-article">

                <article class="box">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img cafetera moulinex">
                    <div class="small-box">
                        <i class="fas fa-truck circle rotate"></i>
                        <div class="box-display">
                            <div class="description">
                                <p class="a">$6.770</p>
                                <p class="b">40% off</p>
                            </div>
                            <h4>Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article>

                <article class="box">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img macbook pro">
                    <div class="small-box">
                        <i class="fas fa-truck circle rotate"></i>
                        <div class="box-display">
                            <div class="description">
                                <p class="a">$230.000</p>
                                <p class="b">20% off</p>
                            </div>
                            <h4>MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>

                <article class="box">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img samsung">
                    <div class="small-box">
                        <i class="fas fa-truck circle rotate"></i>
                        <div class="box-display">
                            <div class="description">
                                <p class="a">$70.500</p>
                                <p class="b">10% off</p>
                            </div>
                        <h4>Samsung Galaxy S10</h4>
                        </div>
                    </div>  
                </article>

                <article class="box">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img smart tv">
                    <div class="small-box">
                        <i class="fas fa-truck circle rotate"></i>
                        <div class="box-display">
                            <div class="description">                                
                                <p class="a">$23.200</p>
                                <p class="b">5% off</p>
                            </div>
                            <h4>SmartTv Samsung 43"</h4>
                        </div>
                    </div>
                </article> 

            </div> 

        </section>

    </main>

    <footer>

        <div class="big-container3">
    
        <section class="center">

            <div class="section-1">

                <i class="fas fa-credit-card"></i>

                    <h3>Pagá con tarjeta o en efectivo</h3>
                        <p class="description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>

            </div>

            <div class="section-2">

                <i class="fas fa-gift"></i></i>

                    <h3>Envío gratis desde $ 2.500</h3>
                        <p class="description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>

            </div>

            <div class="section-3">

                <i class="fas fa-user-shield"></i>
                    
                    <h3>Seguridad, de principio a fin</h3>
                        <p class="description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>

            </div>

        </div>

        </section><br><br>

        <section class="copyright">

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>

</body>

</html>