<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>

    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        
        <div class="top-box">

            <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
                    
            <div  class="search-bar">

                <form  action="/search" method="get" target="_blank">

                    <p>
                        <input type="search" name="busquedam" placeholder="Buscar productos, marcas">
                        <button> <i class="fas fa-search"></i></button>
                    </p>

                </form>

            </div>

            <h1 class="cuotas">
                <a href="#"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</a>
            </h1>
        
        </div>

        <nav class="options-user">

                <ul class="options">

                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>

                </ul>

                <ul class="user">

                        <li><a href="/register"></i>Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                        <li><a href="/login"></i>Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#"></i>Mis compras<i class="fas fa-shopping-basket"></i></a></li>

                </ul>

        </nav>

        <nav class="burger-menu"><i class="fas fa-bars"></i></nav>

    </header>
    
    <div class="big-container1">

        <form action="/registro" method="get" class="login">

            <div class="login2">

                <label>Iniciar Sesion</label><br>
                <input type="text" placeholder="Nombre de usuario o E-mail"><br><br>
                <input type="password" placeholder="Contraseña"><br><br>
            
            </div><br>

            <div class="buttons-login">

                <button type="submit"><a href="/">Enviar</a></button>

                <button type="reset">Borrar</button>
            
            </div>

        </form>

    </div>

</body>

</html>